@media print {
    main {
        display: none;
    }
    body {
        background-image: url(../images/car.gif);
    }
    #icons {
        display: none;
    }
    #about {
        display: none;
    }
}

body {
    /* Formalities & Functionalities */
    margin: 0;
    user-select: none;

    /* Background */
    background: linear-gradient(rgba(162, 238, 255, 0.25) 0%, rgba(162, 238, 255, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* Text */
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    min-width: 5rem;
    width: 5vw;
    padding: 10%;
    margin: 0;
    text-align: center;
}
    figure:hover {
        cursor: pointer;
        background-color: rgba(0, 150, 255, 0.15);
    }

figcaption {
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
}

main { 
    /* Grid */
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.5em;

    /* Style */
    background-color: white;
    border-radius: 1em;
    box-shadow: 1px 1px 5px;

    /* Position */
    margin: auto;
    margin-top: 5vh;
    width: 90vw;
    height: 90vh;
}

/*–––––––––– IDs ––––––––––*/

#home {
    grid-column: 2 / 16;
    grid-row: 2 / 16;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5em;
    grid-auto-flow: column;
}

#icons {
    /* Placement */
    grid-column: 1 / 8;
    grid-row: 1 / 6;
    
    /* Flex */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2.5vw;
}
    #icons a {
        text-decoration: none;
        color: inherit;
    }
    #icons > div {
        min-height: 6.5rem;
        height: 6.5vw;
    }
    #icons img {
        width: 100%;
    }

#about {
    /* Position */
    grid-column: 16 / 24;
    grid-row: 2 / 16;

    /* Style */
    background: linear-gradient(rgba(162, 238, 255, 0.25) 0%, rgba(162, 238, 255, 1) 100%);
    border-radius: 1em;
    box-shadow: 1px 1px 5px;

    /* Misc */
    overflow: auto;
}

    #about div {
        padding: 1em;
    }

#workWindow div:not(.bar) {
/* Grid */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;

    height: 85%;
    justify-items: center;
    align-items: top;
}

/*–––––––––– Classes ––––––––––*/

/* Text */
.italic {
    font-style: italic;
}
.centered {
    text-align: center;
}
.marginlessBottom {
    margin: .67em 0 0;
}

.window {
    display: none;

    /* Position */
    position: fixed;
    width: 60vw;
    height: 60vh;
    top: 20vh;
    left: 20vw;

    /* Style */
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
    .window > div:not(.bar) {
        padding: 1em 2em;

        
    }
        div.bar {
            /* Style */
            background-color: blue;
            padding: 0.5em;
            border-radius: 0.5em 0.5em 0 0;

            display: grid;
            grid-template-columns: 1fr 1fr;
        }
            .bar span {
                text-align: right;
            }
            .bar p {
                margin: 0;
                color: white;
                display: inline-block;
                font-weight: bold;
            }
            .bar > span > p:hover {
                cursor: pointer;
            }
    .window img {
        width: 80%;
    }
/*––––––––––––––––––––*/